@font-face {
    font-family: 'TWKEverett';
    src: url('../fonts/twkeverett/TWKEverett-Regular.otf') format('opentype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'TWKEverett';
}

body {
    background-color: black;
    color: white;
}

/* ================================================================================= */
/* Header */
.header {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
}
.header__logo {
    margin: 70px 0 45px 0;
    justify-self: center;
}
.header__heading {
    max-width: 580px;
    justify-self: center;
}
.header__title {
    text-align: center;
    font-size: 60px;
    margin: 0 0 5px 0;
}
.header_subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px 0;
    font-family: 'TWKEverett';
    line-height: 18px;
}

/* ======================================================================= */
/* Main */
.main {
    max-width: 800px;
    margin: 0 auto;
}

/* Title Section */

.title {
    text-align: center;
    margin: 0 0 50px 0;
}

/* Section First & Second */

.section {
    max-width: 90%;
    margin: 0 auto;
}
.section__heading {
    text-align: center;
    font-size: 32px;
    margin: 0 0 120px 0;
}

.section__content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 20%;
}

.section__content-reverse {
    flex-direction: row-reverse;
}

.section__content-reverse:last-child {
    justify-content: start;
}

.section__text {
    max-width: 35%;
}
.section__title {
    color: #acacac;
    font-size: 13px;
}
.section__subtitle {
    font-size: 18px;
}
.section__image_picture {
    max-width: 310px;
    height: 230px;
    object-fit: cover;
    margin: 0 0 140px 0;
    border-radius: 20px;
}

/* Postcard section */

.postcard {
    text-align: center;
    background-image: url(/BEM/img/workout_background.png);
    width: 640px;
    height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0 auto;
}
.postcard__content {
}
.postcard__logo {
    padding: 42px 0 0 0;
}
.postcard__text {
    color: #0c0c0c;
    font-size: 32px;
    max-width: 450px;
    margin: 0 auto;
}
.postcard__instagram {
    margin: 24px 0 0 0;
}
.postcard__button {
    width: 194px;
    height: 48px;
    padding: 14px, 24px;
    border-radius: 30px;
    border: 1px solid black;
    background: none;
}

/* Footer section */

.footer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.copyright {
}
.copyright__address {
}
.copyright__reserved {
}
.unsubscribe {
}
